transport-independent and beyond node-specific matters

https://github.com/netmod-wg/rfc7950bis-and-friends/blob/31758626541b8f1256c337e893ce7c71364f6ce2/draft-yn-netmod-rfc7950bis.xml#L59

Suggest to cite rfc8969 here to provide a pointer to the reader where to look to understand how YANG can  be used at various layers (not only device level)

> Many of the YANG modules listed in this document are used to exchange data between NETCONF/RESTCONF clients and servers [[RFC6241](https://datatracker.ietf.org/doc/html/rfc6241)][[RFC8040](https://datatracker.ietf.org/doc/html/rfc8040)]. Nevertheless, YANG is a transport-independent data modeling language. It can thus be used independently of NETCONF/RESTCONF. For example, YANG can be used to define abstract data structures [[RFC8791](https://datatracker.ietf.org/doc/html/rfc8791)] that can be manipulated by other protocols (e.g., [[DOTS-DDOS](https://tools.ietf.org/html/draft-ietf-dots-rfc8782-bis-04)]).
> 
> This document describes an architectural framework for service and network management automation ([Section 3](https://datatracker.ietf.org/doc/html/rfc8969#concept)) that takes advantage of YANG modeling technologies and investigates how YANG data models at different layers interact with each other (e.g., Service Mapping, model composition) in the context of service delivery and fulfillment ([Section 4](https://datatracker.ietf.org/doc/html/rfc8969#compo)). Concretely, the following benefits can be provided: